<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="hoverboard_ros2_control" params="name">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>hoverboard_hardware_interface/HoverboardHardwareInterface</plugin>
        <param name="front_left_wheel_joint_name">front_left_wheel_joint</param>
        <param name="front_right_wheel_joint_name">front_right_wheel_joint</param>
        <param name="back_left_wheel_joint_name">back_left_wheel_joint</param>
        <param name="back_right_wheel_joint_name">back_right_wheel_joint</param>
        <param name="loop_rate">50</param>
        <param name="front_device">${front_device}</param>
        <param name="back_device">${back_device}</param>
        <param name="baud_rate">115200</param>
        <param name="timeout">1000</param>
        <param name="encoder_ticks_per_revolution">90</param>
      </hardware>
      
      <joint name="front_left_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      
      <joint name="front_right_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="back_left_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      
      <joint name="back_right_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

    </ros2_control>

  </xacro:macro>

</robot>

